*{
    margin:0;
    padding:0;
    box-sizing :border-box;
}

body{
    width : 100%;
    height:100vh;
}
.box{
    width :50%;
    height:50%;
    background-color:crimson;
}
.inner{
    width :50%;
    height:50%;
    background-color:blue;
    margin:auto ;
   
   
}
@media (max-width : 600px){
    body{
        background-color: black;
        margin:2rem 2rem;
    }
    .box{
        background-color: royalblue;
        border-radius:50%;
        margin:auto;
    }
    .inner{
        background-color: red;
        border-radius:50%;
        margin:auto;
        
    }
}